<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proton - control panel</title>
    @Styles.Render("~/Content/css-controlpanel")
    @Scripts.Render("~/bundles/js-controlpanel")
</head>
<body>
    @RenderBody()

    @if (TempData.Any(p => p.Key == "ErrorMessage"))
    {
        <div class="alert alert-danger" role="alert">@TempData.First(p => p.Key == "ErrorMessage").Value</div>
    }
    @if (TempData.Any(p => p.Key == "InfoMessage"))
    {
        <div class="alert alert-success" role="alert">@TempData.First(p => p.Key == "InfoMessage").Value</div>
    }
</body>
</html>
