@model List<Proton_CMS.ViewModels.TemplateViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        Templates
    </div>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="@Html.SetActiveFlag("Index")">
                    @Html.ActionLink("Installed templates", "Index", "Templates", null, null)
                </li>
                <li class="@Html.SetActiveFlag("AddTemplate")">
                    @Html.ActionLink("Add new template", "AddTemplate", "Templates", null, null)
                </li>
            </ul>
        </div>
        <div class="panel-margin">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Author</th>
                            <th>Version</th>
                            <th>Status</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr class="odd gradeX">
                                <td>@Model[i].Name</td>
                                <td>@Model[i].Author</td>
                                <td>@Model[i].Version</td>
                                <td class="text-center">
                                    @if (Model[i].IsCurrent)
                                    {
                                        <input type="button" class="btn btn-success" value="Active" disabled/>
                                    }
                                    else
                                    {
                                       @Html.ActionLink("Inactive", "SetCurrentTemplate", new { id = Model[i].ID }, new { @class = "btn btn-danger" })
                                    }
                                </td>
                                <td>@Model[i].Description</td>
                                <td class="text-center">
                                    @if (!Model[i].IsCurrent)
                                    {
                                        @Html.ActionLink("Remove", "RemoveTemplate", new { id = Model[i].ID }, new { @class = "btn btn-danger" })
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </nav>
</div>